@page "/smsadmin"
@inherits ReactiveComponentBase<SmsAdminViewModel>
@attribute [Authorize(Roles = "SuperAdmin")]
<PageHeader BackIcon="string.Empty">
    <PageHeaderTitle>Sms Test</PageHeaderTitle>
</PageHeader>

<Text Type="danger">@ViewModel.Errors</Text>

<Form Layout="@FormLayout.Horizontal"
      Model="@smsTransactionDto"
      OnFinish="OnFinish">
    <FormItem Label="Title">
        <Input Size="@InputSize.Large" @bind-Value="@context.Title" />
    </FormItem>
    <FormItem Label="Sender">
        <Select Size="@InputSize.Large" Placeholder="Select Sender" OnChange="OnSimSelectChange">
            @foreach (var sim in ViewModel.Sims)
            {
                <SelectOption Value="@sim.Id.ToString()">@($"{sim.Name} - {sim.MobileServer.Name}")</SelectOption>
            }
        </Select>
    </FormItem>

    <FormItem Label="Receiver">
        <Input Size="@InputSize.Large" @bind-Value="@context.ReceiverNumber" />
    </FormItem>

    <FormItem Label="Message">
        <Input Size="@InputSize.Large" @bind-Value="@context.Message" />
    </FormItem>

    <FormItem Label="Number of Sms">
        <Input Size="@InputSize.Large" @bind-Value="@context.NumberOfSmsToSend" />
    </FormItem>

    <FormItem>
        <Button Type="@ButtonType.Primary" Size="@InputSize.Large" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

<Table DataSource="@ViewModel.SmsTransactions" Class="table-responsive">
    <Column @bind-Field="@context.Title"></Column>
    <Column @bind-Field="@context.SenderNumber"></Column>
    <Column @bind-Field="@context.RecieverNumber"></Column>
    <Column @bind-Field="@context.Body"></Column>
    <Column @bind-Field="@context.StartTime"></Column>
    <Column @bind-Field="@context.CompletedTime"></Column>
    <Column @bind-Field="@context.TransactionState"></Column>
    @if (context.MobileServer != null)
    {
        <Column @bind-Field="@context.MobileServer.Name"></Column>
    }
    @if (context.OneSmsApp != null)
    {
        <ActionColumn Title="Network name">
            <Column Title="Network name" @bind-Field="@context.OneSmsApp.Name"></Column>
        </ActionColumn>
    }
    <Column @bind-Field="@context.CreatedOn"></Column>
</Table>
