@page "/whatsapptransactions"
@using OneSms.ViewModels.Whatsapp
@inherits ReactiveComponentBase<WhastappTransactionViewModel>
<PageHeader BackIcon="string.Empty">
    <PageHeaderTitle>Whatsapp Transactions</PageHeaderTitle>
    <PageHeaderExtra>
        <Select Placeholder="Select App" DefaultValue="@ViewModel.SelectedApp?.Id.ToString()" OnChange="OnAppSelectionChange">
            @foreach (var app in ViewModel.Apps)
            {
                <SelectOption Value="@app.Id.ToString()">@app.Name</SelectOption>
            }
        </Select>
    </PageHeaderExtra>
</PageHeader>
<Table DataSource="@ViewModel.Transactions" Class="table-responsive">
    <Column @bind-Field="@context.Label"></Column>
    <Column @bind-Field="@context.SenderNumber"></Column>
    <Column @bind-Field="@context.RecieverNumber"></Column>
    <Column @bind-Field="@context.Body"></Column>
    <Column @bind-Field="@context.StartTime"></Column>
    <Column @bind-Field="@context.CompletedTime"></Column>
    <Column @bind-Field="@context.MessageStatus"></Column>
    <ActionColumn Title="Time">
        @((context.CompletedTime - context.StartTime).TotalSeconds) seconds
    </ActionColumn>
    @if (context.MobileServer != null)
    {
        <ActionColumn Title="Server">
            @context.MobileServer.Name
        </ActionColumn>
    }
    @if (context.App != null)
    {
        <ActionColumn Title="Network name">
            <Column Title="Network name" @bind-Field="@context.App.Name"></Column>
        </ActionColumn>
    }
    <ActionColumn Title="Action">
        <Space Size="middle">
            <SpaceItem>
                <Button Type="danger" @onclick="() => Delete(context)">Delete</Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
