@page "/ussdtestadmin"
@inherits ReactiveComponentBase<UssdTestAdminViewModel>
@attribute [Authorize(Roles = "SuperAdmin")]
    <PageHeader BackIcon="string.Empty">
        <PageHeaderTitle>Ussd Test</PageHeaderTitle>
        <PageHeaderExtra>
            <Text>CurrentServerKey: @ViewModel.CurrentServerKey</Text>
            <Select DefaultValue=@(ViewModel.CurrentServerKey) Style="width:100px" OnChange="OnServerChange">
                @foreach (var item in ViewModel.MobileServers)
                {
                    <SelectOption Value="@item.Key.ToString()">@item.Name</SelectOption>
                }
            </Select>
            <Button Type="danger" @onclick="() => CancelUssdOperation(ViewModel.CurrentServerKey)">Cancel</Button>
        </PageHeaderExtra>
    </PageHeader>
<Text Type="danger">@ViewModel.Errors</Text>

<Form Layout="@FormLayout.Horizontal"
      Model="@ussdTransactionDto"
      OnFinish="OnFinish">
    <FormItem Label="Title">
        <Input Size="@InputSize.Large" @bind-Value="@context.Title" />
    </FormItem>
    <FormItem Label="Sim">
        <Select Size="@InputSize.Large" Placeholder="Select Sim" OnChange="OnSimSelectChange">
            @foreach (var sim in ViewModel.SimCards)
            {
                <SelectOption Value="@sim.Id.ToString()">@($"{sim.Name} - {sim.MobileServer.Name}")</SelectOption>
            }
        </Select>
    </FormItem>

    <FormItem Label="Action">
        <Select Size="@InputSize.Large" Placeholder="Select Action" OnChange="OnUssdActionSelectChange">
            @foreach (var item in ViewModel.UssdActions)
            {
                <SelectOption Value="@(((int)item).ToString())">@item</SelectOption>
            }
        </Select>
    </FormItem>

    <FormItem>
        <Button Type="@ButtonType.Primary" Size="@InputSize.Large" HtmlType="submit">
            Submit
        </Button>
    </FormItem>
</Form>

<Table DataSource="@ViewModel.UssdTransactions" Class="table-responsive">
    <Column @bind-Field="@context.Title"></Column>
    <Column @bind-Field="@context.ActionType"></Column>
    <Column @bind-Field="@context.LastMessage"></Column>
    <Column @bind-Field="@context.StartTime"></Column>
    <Column @bind-Field="@context.CompletedTime"></Column>
    <Column @bind-Field="@context.TransactionState"></Column>
    @if (context.MobileServer != null)
    {
        <Column @bind-Field="@context.MobileServer.Name"></Column>
    }
    <Column @bind-Field="@context.CreatedOn"></Column>
</Table>