@page "/timtransctions"
@inherits ReactiveComponentBase<TimTransactionViewModel>
@attribute [Authorize(Roles = "TimAccount")]
<PageHeader BackIcon="string.Empty">
    <PageHeaderTitle>Transactions</PageHeaderTitle>
    <PageHeaderExtra>
        <Button Type="@ButtonType.Primary" @onclick="() => ShowModal(transaction)">Executer</Button>
    </PageHeaderExtra>
</PageHeader>
<Text Type="danger">@ViewModel.Errors</Text>
<Table DataSource="@ViewModel.Transactions" Class="table-responsive">
    <Column @bind-Field="@context.Minutes"></Column>
    <Column @bind-Field="@context.Number"></Column>
    <Column @bind-Field="@context.Cost"></Column>
    <ActionColumn Title="Client">@context.Client?.Names</ActionColumn>
    <Column @bind-Field="@context.StartTime"></Column>
    <Column @bind-Field="@context.EndTime"></Column>
    <Column @bind-Field="@context.CreatedOn"></Column>
    <ActionColumn Title="Action">
        <Space Size="middle">
            <SpaceItem>
                <Button @onclick="() => Delete(transaction)" Type="danger">Delete</Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
<Modal Title="@("Créer une transaction")" OnCancel="HideModal" Visible="@modalVisible" Footer="null">
    <Form Model="transaction" OnFinish="Save" LabelCol="new ColLayoutParam { Span = 8 }" WrapperCol="new ColLayoutParam { Span = 16 }">
        <FormItem Label="Minutes">
            <Input @bind-Value="@context.Minutes" />
        </FormItem>
        <FormItem Label="Number">
            <Input @bind-Value="@context.Number" />
        </FormItem>

        <FormItem WrapperCol="new ColLayoutParam{ Offset = 8, Span = 16 }">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">Envoyer</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button @onclick="() => transaction = new TimTransaction()">Clear</Button>
                </SpaceItem>
            </Space>
        </FormItem>
    </Form>
</Modal>
