@page "/mobileserveradmin"
@inherits ReactiveComponentBase<MobileServerAdminViewModel>
@attribute [Authorize(Roles = "SuperAdmin")]
<PageHeader BackIcon="string.Empty">
    <PageHeaderTitle>Mobile Servers</PageHeaderTitle>
    <PageHeaderExtra>
        <Button Type="@ButtonType.Primary" @onclick="() => ShowModal(serverMobile)">Add</Button>
    </PageHeaderExtra>
</PageHeader>
<Text Type="danger">@ViewModel.Errors</Text>

<Table DataSource="@ViewModel.MobileServers" Class="table-responsive">
    <Column @bind-Field="@context.Name"></Column>
    <Column @bind-Field="@context.Id"></Column>
    <Column @bind-Field="@context.Secret"></Column>
    @if (context.Sims != null)
    {
        @if (context.Sims.Count() > 0)
        {
            <ActionColumn Title="Sim 1">@context.Sims.First().Name</ActionColumn>
        }
        @if (context.Sims.Count > 1)
        {
            <ActionColumn Title="Sim 2">@context.Sims.Last().Name</ActionColumn>
        }
    }
    <ActionColumn Title="Action">
        <Space Size="middle">
            <SpaceItem>
                <Button @onclick="() => ShowModal(context)">Edit</Button>
            </SpaceItem>
            <SpaceItem>
                <Button @onclick="() => Delete(context)" Type="danger">Delete</Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>
<Modal Title="@("Add or modify server")" OnCancel="HideModal" Visible="@modalVisible" Footer="null">
    <Form Model="serverMobile" OnFinish="Save" LabelCol="new ColLayoutParam { Span = 8 }" WrapperCol="new ColLayoutParam { Span = 16 }">
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" />
        </FormItem>
        <FormItem WrapperCol="new ColLayoutParam{ Offset = 8, Span = 16 }">
            <Space>
                <SpaceItem>
                    <Button Type="@ButtonType.Primary" HtmlType="submit">Save</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button @onclick="() => serverMobile = new MobileServer()">Clear</Button>
                </SpaceItem>
            </Space>
        </FormItem>
    </Form>
</Modal>

